#graphs {
	margin-left: 0%;
	margin-right: 10%;
	margin-top: 30px;
}

#legend {
	list-style: none;
}

#js-legend {
	margin-left: 900px;
	margin-top: -600px;
	width: 150px;
}

.box {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-left: -10px;
	margin-right: 10px;
}
